*.DS_Store
.ipynb_checkpoints/
book.pdf
CapstoneProjectGuidelines.pdf
DS23MonthTimeline.pdf
week_1/.ipynb_checkpoints/
week2/pycon-pandas-tutorial-master/.ipynb_checkpoints/
week6/2015lab4-master/
week6/2015lab5-master/
week7/2015lab5-master/
week7/2015lab6-master/
week7/2015lab9-master/
week7/2015lab10-master/
